*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ededed;
    --primary-color: #d591d5;
    --secondary-color: #670653;
    --border-radius: 6px;
    --block-padding: 1em
}
.wrapper a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.wrapper img {
    width: 100%;
    object-fit: cover;
}


/* Wrapper */
.wrapper {
    width: 100vw;
    margin: 0 auto;
    /* max-width: 900px; */
    min-height: 100vh;
    background: var(--bg-color);
    position: relative;
    overflow: hidden auto;
}






/* Header Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 10vh;
    padding: 1em 1.2em;
    background: #240130;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 30px rgba(102, 102, 102, 0.3);
}
header :is(.media-icon, .user-image) {
    width: 70px;
    aspect-ratio: 1;
    position: relative;
}
header .icon {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}
header .user-image,
header .media-icon {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer
}







/* Aside Styling */
aside .sidenav-container {
    width: 80%;
    min-height: 100%;
    background: rgba(0,0,0,0.9);
    padding: min(26vh, 30rem) 1.5em; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(1rem);
    transform: translateX(-100%);
    transition: transform 0.2s linear;
}

aside .close {
    display: block;
    position: absolute;
    top: 15vh;
    right: 0.8em;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
aside h2 {
    letter-spacing: 1px;
}
aside .details{
    margin: 1.8em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .post-number {
    padding: 0 0.8em;
    text-align: center;
}
aside .post-number:not(:last-of-type) {
    border-right: 2px solid #fff;
}
aside .btns {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    gap: 12px;
}
aside .btns button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    /* background: #fff; */
    display: flex;
    padding: 6px 0;
    gap: inherit;
    font-size: 1.4rem;
    cursor: pointer;
}
aside .btns button span {
    font-weight: bold;
    
}
/* Aside JS conditions */
aside .sidenav-container.open {
    transform: translateX(0%);
    box-shadow: 0 0 10px 100vw rgba(0,0,0,0.6);

}





/* Main Styling */
#index-page {
    position: relative;
    width: 90%;
    margin: 15vh auto 0;
    overflow: hidden auto;
}


/* Main profile */
#index-page .profile {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
#index-page .menu-icon {
    width: 40px;
    aspect-ratio: 1;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#index-page .menu-icon span {
    display: block;
    width: 1.5em;
    height: 4px;
    border-radius: 3px;
    background: var(--bg-color);
    position: relative;
}
#index-page .menu-icon span::before,
#index-page .menu-icon span::after {
    content: "";
    position: absolute;
    left: 0; 
    height: inherit;
    border-radius: inherit;
    background: crimson;

}
#index-page .menu-icon span::before {
    transform: translateY(-8px);
    width: 100%;
}
#index-page .menu-icon span::after {
    transform: translateY(8px);
    width: 100%;
}
#index-page .profile h2 {
    letter-spacing: 1px;
    line-height: 2rem;
    word-spacing: -2px;
}
/* Main Posts */
#index-page .post {
    width: 100%;
    margin: 0 0 0.8em;
    padding: 1.6em 0.8em;
    background: var(--primary-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--border-radius);
}
#index-page .post.open-options::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 90;
    backdrop-filter: blur(0.8em);
}
#index-page .post #delete-post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 91;
    padding: 0.6em 1em;
    width: max-content;
    background: var(--secondary-color);
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(115, 14, 128, 0.4);
    visibility: hidden;
    cursor: pointer;
}
#index-page .post.open-options #delete-post {
    visibility: visible;
}
#index-page .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
#index-page .post .options {
    position: relative;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: row wrap;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#index-page .post .options > * {
    width: calc(50px / 6);
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: circle();
    background: var(--secondary-color);
    z-index: 10;
}
#index-page .top .post-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
#index-page .top .img-box {
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    border: 1px inset #670653;
    border-radius: 50%;
    overflow: hidden;
}
#index-page .top .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#index-page .top .user-details h3,
.user-card .info h3 {
    line-height: 1em;
    font-weight: bold;
}
#index-page .top .user-details span {
    text-align: center;
    display: block;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #666
}
#index-page .post-body {
    padding: 0.8em 0;
}
#index-page .post .post-image {
    margin: 1em 0 ;
    width: 100%;
    height: 40vh;
    background-color: #fff;
    background-image: url('./images/photo-1529626455594-4ff0802cfb7e.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: cover;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}
#index-page .post .post-image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
#index-page .btns {
    margin: 1em 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}
#index-page .btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 0.8em;
    width: max-content;
    background: var(--secondary-color);
    color: #fff;
    gap: inherit;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);

}
#index-page .btns button :is(.like, .comment) {
    color: crimson;
    font-size: 1.2em;
}
#index-page .btns button .comment{
    color: #fff;
}
#index-page form {
    display: flex;
    align-items: center;
}
#index-page form input {
    flex-basis: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.8em;
    font-size: 1rem;
}
#index-page form input::placeholder {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #333;
}
#index-page form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: min-content;
    background: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
}


/* Main: People you may know */
.people {
    margin: 2em 0; 
}
.people h2 {
    text-align: center;
}
.users-container {
    margin: 1em 0;
    padding: 1em 0;
    min-height: min(40vh, 300px);
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 45%; 
    gap: 10px;
    color: #fff;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.user-card {
    overflow: hidden;
    border-radius: 10px;
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(to top, rgb(0,0,0) 30%, transparent),
                        url("./images/photo-1583396060233-3d13dbadf242.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: 6px 4px 8px rgba(115, 14, 128, 0.4);
}

.user-card .round-image {
    width: 60px;
    aspect-ratio: 1;
    position: absolute;
    top: 1em;
    left: 0.5em;
    border-radius: 50%;
    border: 2px inset #f7577f8f;
    background: var(--bg-color);
    overflow: hidden;
}
.user-card .round-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.user-card .info {
    width: 100%;
    position: absolute;
    bottom: 1em;
    transform: translateY(-1.5em);
    text-align: center;
    padding: 1em 0;
    z-index: 9;
}
.user-card .info .text {
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    color: var(--bg-color)
}
.user-card button {
    cursor: pointer;
    position: absolute;
    height: 18%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
    color: white;
    border: none;
    outline: none;
    z-index: 10;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.user-card .story-btn {
    height: 30%;
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    user-select: none;
}
.user-card .story-btn span {
    display: inline-block;
    margin-top: 0.5em;
    width: fit-content;
}
.user-card .story-btn .add-icon {
    position: absolute;
    background: blue;
    top: -20%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -20%);
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
}
.user-card .story-btn .add-icon::before {
     content: "\002B";
     position: absolute;
     font-size: 2em;
     color: white;
}
.users-container::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
    scroll-snap-align: start;
}






/* Contacts and People */
#index-page #friend-box {
    background: rgba(0,0,0,0.8);
    position: fixed;
    inset: 0;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2em);
    display: none;
}
.wrapper #contact {
    background: rgba(0,0,0,0.8);
    min-height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 90;
    display: none;
    backdrop-filter: blur(2em);
}
#index-page .friend-card {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    width: fit-content;
    padding: 1em;
    background: #000;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    border-radius: var(--border-radius);
}
.wrapper #contact .friend-card {
    background: #000;
    margin: 13vh auto 1em;
    width: fit-content;
    height: max-content;
    padding: 2em 1em;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    overflow: hidden auto;
}
#index-page .friend,
.wrapper #contact .friend {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}
#index-page .friend .img-box,
.wrapper #contact .friend .img-box  {
    width: 80px;
    aspect-ratio: 1;
    position: relative;
}
#index-page .friend img,
.wrapper #contact .friend img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    clip-path: circle();
}
#index-page .friend .img-box::after,
.wrapper #contact .friend .img-box::after  {
    content: '';
    position: absolute;
    bottom: 0.4em;
    right: 0.5em;
    background: #06c906;
    width: 0.8em;
    aspect-ratio: 1;
    border-radius: 50%;
}
#index-page .friend .img-box:nth-child(2n + 1)::after {
    background: red;
}
#index-page .friend .info,
.wrapper #contact .info  {
    flex-basis: 100%;
}
#index-page .friend .info p,
.wrapper #contact  {
    font-size: 1.3rem;
}
#index-page .friend .info span,
.wrapper #contact .friend .info span  {
    width: 100%;
    display: inline-block;
}
#index-page .friend button,
.wrapper #contact button  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0.8em;
    background: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 0.5;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 3px 5px var(--secondary-color);
}








/* Notification styling */
.fullscreen {
    position: fixed;
    inset: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding: 0 1.8em;
    background: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in;
    backdrop-filter: blur(1em);
}
.fullscreen > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fullscreen h2 {
    color: #fff;
    letter-spacing: 1px;
    margin-block: 1em 2em;
}
.fullscreen a { 
    margin-block: 0.8em;
    text-align: center;
    border: none;
    outline: 0;
    padding: 10px 16px;
    color: #fff;
    border-radius: 10px;
    background: purple;
    display: flex;
    align-items: center;
    gap: 8px;
}
.fullscreen a:first-of-type {
    margin-block: 0 0.8em;
}
.fullscreen a span {
    border-radius: 50%;
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    background: #ff123e;
    font-size: 0.8rem;
    color: #fff;
    font-weight: bold;
}
.fullscreen .close-btn {
    display: block;
    position: absolute;
    top: 15vh;
    right: 0.8em;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.fullscreen.open {
    transform: translateY(0%);
}


.wrapper footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    /* background: #555; */
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.wrapper footer a {
    width: 30px;
    /* aspect-ratio: 1; */
    height: 30px;
    background: var(--secondary-color);
    padding: 1em;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 50%;
    /* clip-path: circle(); */
}

.wrapper footer a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: rgba(115, 14, 128, 0.5);
    
    border: none;
    border-radius: 50%;
    animation: pulse 3s ease-in-out infinite alternate;
}


@keyframes pulse {
    0% {
        width: 20px;
        height: 20px;
        opacity: 0.8;
    }
    25% {
        width: 40px;
        height: 40px;
        opacity: 0.6;
    }
    50% {
        width: 60px;
        height: 60px;
        opacity: 0.4;
    }
    75% {
        width: 80px;
        height: 80px;
        opacity: 0.2;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0.1;

    }
}



















/* Profile-Page */
#profile-page {
    width: 90%;
    height: 90vh;
    margin: 15vh auto 0;
    overflow-x: hidden;
}
#profile-page .container {
    width: 100%;
    height: 70%;
    position: relative;
}
#profile-page .container .back-arrow {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 10;
    padding: 0.8em;
    background: rgba(102, 102, 102, 0.4);
    font-size: 2em;
    color: var(--primary-color);
    border-radius: 8px;
}
#profile-page .container #profile-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
}

/* Profile Details */
#profile-page .container .details-box {
    width: 90%;
    background: rgba(102, 102, 102, 0.8);;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8em;
    left: 5%;
    z-index: 10;
    backdrop-filter: blur(2em);
    border-radius: 10px;
}
#profile-page .details-box img{
    width: 100px;
    margin: 0 0 0.7em;
    aspect-ratio: 1;
    border: 1px dotted var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
}#profile-page .user-details h2 {
    letter-spacing: 1px;
    line-height: 1;
}
#profile-page .user-details :is(h2, p) {
    text-align: center;
}
#profile-page .details {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}
#profile-page .post-number {
    padding: 0 0.7em;
    text-align: center;
}
#profile-page .post-number p {
    font-size: 1.8rem;
    line-height: 1;
    color: #730e80
}































































































































